*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 20px;
    background-color: #340946f7;
    font-family: sans-serif;
    text-align: center;
}

#form{
    padding: 30px;
    background-color: rgb(241, 238, 238);
    border-radius: 7px;
    max-width: 50%;
    margin: 3% auto;
}

h1{
    color: #340946f7;
    margin-bottom: 25px;
    text-align: center;
}

#form label{
    color:#340946f7;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    background: none;
    border: none;
    border: 2px solid #340946f7;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 5px;
}

.botao{
    padding: 8px 15px;
    border-radius: 7px;
    border: none;
    background: none;
    color:rgb(241, 238, 238);
    background:#340946f7;
}

.botao{
    transition: all 0.3s ease-in-out; 
}

.hvr{
    transition: all 0.1s ease;
}s
.console{
    display:inline-block;
}